*{
    margin:0;
    padding:0;
}

body {
    color:#fff;
    font:14px/1.3 Arial,sans-serif;
}

#thousands {
   height: 220px;
  	width: 1000px ;
/*
   margin-left: -500;
   margin-top: -100;
*/
   position: absolute;
   left: 50%;
   top: 15%;
   background-color: #A4A4A4;
   margin:-110px 0 0 -500px;
}

#container {
   height: 400px;
  	width: 1000px ;
/*
   margin-left: -500;
   margin-top: -100;
*/   
   position: absolute;
   left: 50%;
   top: 60%;
   margin:-200px 0 0 -500px;  
}

#offscreen_canvas {
   display: none;
	height: 400px;
  	width: 1000px;
}
